Source: ros-rolling-rmf-demos
Section: misc
Priority: optional
Maintainer: Yadunund <yadunund@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rmf-demos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-launch-xml, ros-rolling-rmf-building-map-tools, ros-rolling-rmf-demos-assets, ros-rolling-rmf-demos-fleet-adapter, ros-rolling-rmf-demos-maps, ros-rolling-rmf-demos-tasks, ros-rolling-rmf-fleet-adapter, ros-rolling-rmf-task-ros2, ros-rolling-rmf-traffic-ros2, ros-rolling-rmf-visualization, ros-rolling-rviz2, ros-rolling-ros-workspace
Description: Common launch files for RMF demos
