Source: ros-foxy-rmf-demos-tasks
Section: misc
Priority: optional
Maintainer: Yadunund <yadunund@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-rmf-dispenser-msgs, ros-foxy-rmf-fleet-msgs, ros-foxy-rmf-lift-msgs, ros-foxy-rmf-task-msgs, ros-foxy-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-rmf-demos-tasks
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-foxy-rmf-dispenser-msgs, ros-foxy-rmf-fleet-msgs, ros-foxy-rmf-lift-msgs, ros-foxy-rmf-task-msgs, ros-foxy-ros-workspace
Description: A package containing scripts for demos
